html {
  font-family: Verdana, sans-serif;
}

body {
  background-image: url("../images/sloth-bg.svg");
  background-color: #bea586;
  background-size: 48px auto;
}

h1 {
  font-family: Georgia, serif;
  color: #fff;
}

a {
  color: #000;
}

figcaption {
  font-family: Georgia, serif;
}
